*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100wp;
    background-color: black;
    color: white;
    /* text-align: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.score {
    font-size: 5rem;
    font-weight: bold;
}

.outcome {
    font-size: 2.5rem;
    font-weight: bold;
    height: 60px;
}